:root {
    --backgroundgrey: #dee2e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: large;
    /* font-family: 'Klee One', cursive; */
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

.header {
    width: 100vw;
    background-color: var(--backgroundgrey);
    height: 4em;
    padding: 0 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: black;
    font-size: 2em;
}

main {
    padding-top: 3em;
}

/* Quero o campo de texto e botão de adicionar lado a lado: */
#user-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#insert-task {
    margin-right: 1em;
    width: 300px;
    padding: 9px;
}

/* Coloquei a linha de código abaixo para que o texto placeholder na caixa de texto desapareça quando o usuário clicar nela: */
input:focus::placeholder {
    color: transparent;
}

/* Botão de adicionar tarefa com um pouco mais de customização */
#add-task {
    background-color: #222;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    min-height: 44px;
    min-width: 10px;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    width: auto;
}

#add-task:hover {
    opacity: .75;
}
#add-task:focus {
    opacity: .75;
}

/* Remove os pontos da lista e o espaçamento à esquerda. */
ul {
    list-style-type: none;
}

#task-list {
    padding-top: 2em;
    margin: 0;
    display: flex;
    justify-content: center;
}

.todo-item {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.todo-item-text {
    /* Optei pelo texto alinhado à esquerda: */
    text-align: left;
    width: 100%;
    margin-right: 10px;
}

.check-task {
    margin-right: 10px;
}

.check-task:checked + .todo-item-text {
    text-decoration: line-through;
}

/* O código abaixo é para remover a aparência padrão dos elementos botão, que serão customizados caso a caso: */
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}